
@font-face {
  font-display: swap;
  font-style: normal;
  font-family: Arimo;
  font-weight: 400;
  src: url("../fonts/Arimo.woff2") format("woff2"),
        url("../fonts/Arimo.woff") format("woff");
}

            
@font-face {
  font-display: swap;
  font-style: normal;
  font-family: FiraSans;
  font-weight: 400;
  src: url("../fonts/FiraSans.woff2") format("woff2"),
        url("../fonts/FiraSans.woff") format("woff");
}

            
@font-face {
  font-display: swap;
  font-style: normal;
  font-family: Arimo;
  font-weight: 700;
  src: url("../fonts/Arimo.woff2") format("woff2"),
        url("../fonts/Arimo.woff") format("woff");
}

            
@font-face {
  font-display: swap;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
  src: url("../fonts/Roboto.woff2") format("woff2"),
        url("../fonts/Roboto.woff") format("woff");
}

            
@font-face {
  font-display: swap;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500;
  src: url("../fonts/Roboto.woff2") format("woff2"),
        url("../fonts/Roboto.woff") format("woff");
}

            
@font-face {
  font-display: swap;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  src: url("../fonts/Roboto.woff2") format("woff2"),
        url("../fonts/Roboto.woff") format("woff");
}

            
@font-face {
  font-display: swap;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  src: url("../fonts/Roboto.woff2") format("woff2"),
        url("../fonts/Roboto.woff") format("woff");
}

            