.footer 
  width: 100%
  padding-top: 20px
  background-color: $dark-grey
  color: #fff
  @include r400
  font-size: 14px
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    height: 90px
  &__text > div
    margin: 5px 0
